.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #41413d;
    overflow: hidden;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav li {
    float: left;
    font-weight: bold;
    font-size: 1.2em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    /* maybe make a fixed width someday */
}

.nav a {
    display: block;
    padding: 12px;
    text-align: center;
    color: #f3f3f2;
    text-decoration: none;
    border-top: solid #41413d 5px;
    border-bottom: solid #41413d 5px;
}

a.head {
    background-color: #b3ffb3;
    color: #41413d;
    border-top: solid #b3ffb3 5px;
    border-bottom: solid #b3ffb3 5px;
    /*margin-right: 5px;*/
}

.nav a:hover,
a.active {
    border-top: solid #b3ffb3 5px;
}

navdec {
    display: inline;
    color: #f3f3f2;
    font-size: 1.4em;
    padding: 0 5px;
    line-height: 70%;
}

@media only screen and (min-width: 768px) {
    .anchor {
        display: block;
        height: 55px;
        margin-top: -55px;
        padding: 0;
        visibility: hidden;
    }
    .content-nav {
        display: inline-block;
        list-style-type: none;
        top: 55px;
        left: 0;
        /*float: left;*/
        margin: 0;
        padding: 10px;
        padding-left: 18px;
        background-color: #e1dbd6;
        border-right: solid black 1px;
        overflow: hidden;
        position: fixed;
        height: 100%;
        width: 15%;
        z-index: 9;
    }
    .content-nav > li {
        margin-bottom: 10px;
    }
    .content-nav .head {
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: underline;
        margin: 5px;
        margin-left: -8px;
        background-color: inherit;
    }
    .content-nav .head p {
        margin: 0 auto;
    }
    .content-nav a {
        color: #0000b3;
    }
    .main {
        display: inline-block;
        position: relative;
        margin: auto;
        margin-left: 20%;
        width: 75%;
    }
}
