/* Mobile first */
/* Top navigation */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #41413d;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.nav li {
    font-weight: bold;
    font-size: 1.4em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    /* maybe make a fixed width someday */
}

.nav a {
    display: block;
    padding: 12px; /* add 12px to desktop if changed */
    text-align: center;
    color: #f3f3f2;
    text-decoration: none;
    border-bottom: solid #1a1a19 5px;
}

a.head {
    background-color: #b3ffb3;
    color: #41413d;
    border-bottom: solid #1a1a19 5px;
}

a.active {
    border-left: solid #b3ffb3 10px;
    padding-left: 2px;
}

navdec {
    display: inline;
    color: #f3f3f2;
    font-size: 1.6em;
    padding: 0 5px;
    line-height: 70%;
}


/* Within-page navigation */
.content-nav {
    position: relative;
    display: block;
    list-style-type: none;
    padding-left: 10px;
    margin: 0 auto 10px;
    /*top: -15px;*/
    left: -5%;
    width: 100%;
}
.content-nav span {
    font-weight: bold;
    font-size: 1.2em;
}
.content-nav li {
    display: inline;
    margin: 0 1px;
    padding: 0;
}
.content-nav li ul {
    list-style-type: none;
    display: inline;
    padding: 0;
}
.content-nav .head {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
    margin: 5px;
    /*background-color: inherit;*/
}
.content-nav .head p {
    margin: 0 auto 10px;
}
.content-nav a {
    margin: 0;
    color: #0000b3;
    text-decoration: underline;
}
.content-nav a:visited {
    color: #0000b3;
}

.main {
    top: -55px;
}

/* Anchor links from within-page nav */
.anchor {
    display: block;
    height: 0;
    /*margin-top: -5px;*/
    padding: 0;
    visibility: hidden;
}


/* Footer */
.footer {
    width: 100%;
    margin: 0;
    padding: 2px;
    text-align: center;
    background-color: #41413d;
    color: #f3f3f2;
}
.footer a {
    text-decoration: underline;
    color: #f3f3f2;
    font-weight: normal;
}
.footer a:visited {
    color: #f3f3f2;
}



/* Desktop */
@media only screen and (min-width: 768px) {

    /* Top navigation bar */
    .nav {
        position: fixed;
        /* Add a shadowed border? */
    }

    .nav li {
        float: left;
        font-size: 1.2em;
    }

    .nav a {
        border-top: solid #41413d 5px;
        border-bottom: solid #41413d 5px;
    }

    a.head {
        border-top: solid #b3ffb3 5px;
        border-bottom: solid #b3ffb3 5px;
    }

    .nav a:hover,
    a.active {
        border-top: solid #b3ffb3 5px;
        border-left: 0;
        padding-left: 12px;
    }

    navdec {
        font-size: 1.4em;
    }


    /* Anchor links (spacing relevant to top nav bar) */
    .anchor {
        display: block;
        height: 55px;
        margin-top: -55px;
        padding: 0;
        visibility: hidden;
    }


    /* Within-page navigation (sidebar on desktop) */
    .content-nav {
        position: fixed;
        display: inline-block;
        top: 55px;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: #e1dbd6;
        height: 100%;
        width: 15%;
        z-index: 9;
    }
    .content-nav span {
        display: none;
    }
    .content-nav li {
        display: block;
        margin: 0;
        padding: 0;
    }
    .content-nav li ul {
        list-style-type: none;
        display: block;
        padding: inherit;
        /*margin-left: -10px;*/
        padding-left: 30px;
    }
    .content-nav .head {
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: underline;
        margin: 5px;
        background-color: inherit;
    }
    .content-nav .head p {
        margin: 10px auto;
    }
    .content-nav a {
        margin: 0;
        padding: 5px;
        padding-left: 8px;
        display: block;
        background-color: #4485B4;
        border-top: solid #184668 1px;
        border-bottom: solid #184668 1px;
        color: #e9e5e2;
        font-weight: normal;
    }
    .content-nav a:visited {
        color: #e9e5e2;
    }
    .content-nav a:hover {
        background-color: #184668;
        color: #e1dbd6;
        text-decoration: none;
    }


    /* Section containing the page-specific content;
        the part next to the sidebar (on desktop) */
    .main {
        top: 0;
        display: inline-block;
        position: relative;
        margin: auto;
        margin-left: 20%;
        width: 75%;
        padding-bottom: 2.5em;
    }


    /* Footer */
    .footer {
        width: 85%;
        height: 1.5em;
        margin-left: 15%;
        padding: 3px 0 1px;
        position: absolute;
        bottom: 0;
    }
}
