body {
    background-color: #d7cec7;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}
.specifics h2 {
    display: inline;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

/*h3 a {
    font-weight: bolder;
}*/

a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.content li {
    /*line-height: 98%;*/
    margin-bottom: 8px;
}

.container {
    position: relative;
    top: 55px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.content {
    background-color: #e1dbd6; /*#d9d9d9;*/
    padding: 1px 10px;
    margin: 0 12px;
}

.badge-info {
    margin-top: 50px;
    /* Give it a background that's
    different from the caption background. */
}
.badge-info p {
    /*padding: 7px 0;*/
    /*margin: 0 auto;*/
}

.img-block {
    /*position: relative;*/
    background-color: #e1dbd6;
    width: 70%;
    margin: 25px auto;
    padding: 15px;
}

img.badge {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
}

/*.caption {*/
    /*display: block;*/
    /*position: relative;*/
    /*width: 100%;*/
    /*margin: auto;*/
    /*margin-bottom: 15px;*/
    /*padding: 10px;*/
    /*text-align: center;*/
    /*font-size: 1em;*/
    /*background-color: #e1dbd6;*/
/*}*/
p.caption {
    padding: 7px 4px;
    text-align: center;
    font-size: 1em;
    margin: auto;
    /*width: 100%;*/
}

table {
    /*border: solid gray 3px;*/
    padding: 0;
}
td, th {
    border-right: solid black 2px;
    border-bottom: solid gray 3px;
    margin: 0;
}
tr {
    margin: 0;
    padding: 0;
}
th {
    font-size: 1.1em;
}
td {
    padding: 10px;
}
#green-cell {
    background-color: green;
}
#yellow-cell {
    background-color: #eae600;
}
#red-cell {
    background-color: #cc0000;
}
.colorcell {
    width: 20%;
    font-size: 1.5em;
}
.colorcell + td {
    width: 25%;
}
/*td li {
    line-height: 98%;
    margin-bottom: 8px;
}*/

/* Tablet */
@media only screen and (min-width: 600px) {
    .container {
        top: 55px;
        width: 75%;
    }
    img.badge {
        width: 30%;
        height: 30%;
    }
    .caption {
        width: 45%;
    }
}

/* Desktop */
@media only screen and (min-width: 768px) {
    .container {
        font-size: 1.1em;
    }
    .caption p {
        font-size: 1em;
    }
}
