body {
    background-color: #d7cec7;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

h3 a {
    font-weight: bolder; /* ??? */
}

a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

.container {
    position: relative;
    top: 55px;
    width: 75%;
    margin: auto;
}

img.badge {
    display: block;
    width: 30%;
    height: 30%;
    margin: auto;
}

.caption {
    display: block;
    position: relative;
    width: 45%;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    background-color: #e1dbd6;
    text-align: center;
}
