body {
    background-color: #d7cec7;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

h3 a {
    font-weight: bolder; /* ??? */
}

a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

.container {
    position: relative;
    top: 55px;
    width: 90%;
    margin: auto;
}

img.badge {
    display: block;
    width: 45%;
    height: 45%;
    margin: auto;
}

.caption {
    display: block;
    position: relative;
    width: 60%;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    background-color: #e1dbd6;
}

table {
    /*border: solid gray 3px;*/
    padding: 0;
}
td, th {
    border-right: solid black 2px;
    border-bottom: solid gray 3px;
    margin: 0;
}
tr {
    margin: 0;
    padding: 0;
}
th {
    font-size: 1.1em;
    /*margin: 0;*/
    /*border-bottom: solid gray 3px;*/
}
td {
    padding: 10px;
}
#green-cell {
    background-color: green;
}
#yellow-cell {
    background-color: #eae600;
}
#red-cell {
    background-color: #cc0000;
}
.colorcell {
    width: 20%;
    font-size: 1.5em;
}
.colorcell + td {
    width: 25%;
}
td li {
    line-height: 98%;
    margin-bottom: 8px;
}


@media only screen and (min-width: 600px) {
    .container {
        top: 55px;
        width: 75%;
    }
    img.badge {
        width: 30%;
        height: 30%;
    }
    .caption {
        width: 45%;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        font-size: 1.1em;
    }
    .caption p {
        font-size: 1em;
    }
}
