body {
    background-color: #FFFFFF;
    color: #000000;
}
.content,
.badge-text,
.img-block {
    background-color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
    hr.sup {
        border-color: gray;
    }
}
